@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body{
    font-family: 'PT Serif', serif;
}
.tabela-principal{
    height: 500px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    background: #000017c2;
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
        width: 80%;
        margin: 25px auto;
        background: black;
        .contraliza{
            h1{
                font-weight: 800;
                letter-spacing: 1px;
                color: blanchedalmond;
                font-size: 1.1em;
            }
            .cadastrar{
                padding: 10px;
                border: 2px solid #2f2fa0;
                color: #2f2fa0;
                font-size: 9px;
                font-weight: 400;
                padding: 4px 18px;
                letter-spacing: 1px;
                margin: 2px; 
                transition: all .7s ease-in-out;    
                &:hover{
                    background: #2f2fa0;
                    color: #fff;
                    transition: all .5s ease-in-out;        
                }
            }             
        }       
    }
    .corpo{
        height: 70%;
        border-radius: 5px;
        width: 80%;
        margin: 25px auto;
        background: white;
    }
}