<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Controle de estoque</title>
</head>
<body>
  <div class="container">
    <section class="tabela-principal">
      <header>
        <div class="contraliza">
          <h1 >Auto peças Fusca Azul | Controle de estoque</h1>
          <div class="text-right">
            <button routerLink="" class="btn cadastrar">Home</button>
            <button routerLink="cadastrar" class="btn cadastrar">Cadastrar</button>           
          </div>
        </div>
      </header>
      <div class="corpo">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>    
</body>
</html>
